@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-Bold.eot');
    src: local('Druk Cyr Bold'), local('DrukCyr-Bold'),
    url('../fonts/DrukCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DrukCyr-Bold.woff2') format('woff2'),
    url('../fonts/DrukCyr-Bold.woff') format('woff'),
    url('../fonts/DrukCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-Heavy.eot');
    src: local('Druk Cyr Heavy'), local('DrukCyr-Heavy'),
    url('../fonts/DrukCyr-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DrukCyr-Heavy.woff2') format('woff2'),
    url('../fonts/DrukCyr-Heavy.woff') format('woff'),
    url('../fonts/DrukCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-Super.eot');
    src: local('Druk Cyr Super'), local('DrukCyr-Super'),
    url('../fonts/DrukCyr-Super.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DrukCyr-Super.woff2') format('woff2'),
    url('../fonts/DrukCyr-Super.woff') format('woff'),
    url('../fonts/DrukCyr-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-Medium.eot');
    src: local('Druk Cyr Medium'), local('DrukCyr-Medium'),
    url('../fonts/DrukCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DrukCyr-Medium.woff2') format('woff2'),
    url('../fonts/DrukCyr-Medium.woff') format('woff'),
    url('../fonts/DrukCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*,::after,::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    font-family: Druk Cyr,sans-serif;
    font-style: normal;
    font-weight: 400;
    min-width: 320px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #CDD6DD;
}

.container{
    padding: 0 20px;
}

.header{
    background-image: url("../img/texture-background.jpg");
    background-size: cover;
    background-position: center;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 70px;
}

.burger-btn{
    border: none;
    outline: none;
}

.logo-wrap{
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo{
    width: 29px;
    height: 33px;
}

.logo img{
  max-width: 100%;
}

.user-info--name{
    color: #A2A2A2;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    display: block;
}
.user-info--codes{
    color: #CF0C2D;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.25px;
}
.main {
    overflow: hidden;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    flex: 1 0 auto;
}
.section-red{
    background-color:#CF0C2D;
    transform: skewY(-18deg);
    padding-top: 4px;
    padding-bottom: 26px;
    position: relative;
    transform-origin: center;
}
.section-red:before{
    background-color:#CF0C2D;
    height: 316px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 99%;
    display: block;
    content: '';
}
.section-image{
    margin-top:-58px;
}
.section-red--title{
    margin: 0;
    color: #FFF;
    font-size: 80px;
    font-style: italic;
    font-weight: 900;
    line-height:1;
    letter-spacing: 2.4px;
}
.section-red--title span{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.8px;
    display:block;
}
.section-red--line{
    height: 3px;
    width: 800px;
    background-color: #fff;
    position: absolute;
    bottom: 31px;
    left: 234px;
}
.section-image img{
    width: 100%;
}
.section-grey{
    padding-top: 16px;
    position: relative;
    margin-top: -64px;
}
.section-grey.small-mode{
    padding-top: 75px;
}
.section-grey:before{
    background-color:#37474F;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transform: skewY(-18deg);
}
.section-grey:after{
    background-color:#CDD6DD;
    content: "";
    position: absolute;
    top: 75%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transform: skewY(-18deg);
}
.section-grey-big{
    padding-top: 16px;
    position: relative;
    padding-bottom: 63px;
    margin-bottom: 48px;
}
.section-grey-big:before{
    background-color:#37474F;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transform: skewY(-18deg);
}

.file-loader{
    position: relative;
    z-index: 2;
}
.section-grey--line{
    height: 3px;
    width: 407px;
    background-color: #fff;
    position: absolute;
    top: -22px;
    left: 159px;
    z-index: 2;
    transform: skewY(-18deg);
}
.section-text{
    position: relative;
    z-index: 2;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 50px;
    max-width: 289px;
    margin: 0 auto 23px;
}
.section-text.visible{
    display: block;
}
.section-text-desk{
    position: relative;
    z-index: 2;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: none;
}

.section-text-desk .second{
    font-size: 30px;
    display: block;
}

.section-text-desk .third{
    font-size: 23px;
    display: block;
}

.board{
    background-color: #FFFFFF;
    padding: 19px;
    width: 100%;
    position: relative;
    z-index: 2;
    max-width: 460px;
    min-height: 270px;
    margin: 0 auto  38px;
}

.board:before{
    content: '';
    width: 37px;
    height: 37px;
    display: inline-block;
    position: absolute;
    right: 0;
    top:0;
    background-image: url("../img/triangles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.board-title{
    color: #CF0C2D;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 22px;
}
.board-item{
    display: flex;
    margin-bottom: 23px;
    gap:15px
}

.item-icon{
    max-width: 55px;
    width: 100%;
    flex-shrink: 0;
}
.item-text{
    color: #454545;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.item-text span{
    color: #CF0C2D;
    font-weight: 700;
}
.preview-holder{
    width:280px;
    height: 400px;
    margin: 0 auto 18px;
    position: relative;
}
.close-btn{
    position: absolute;
    top:12px;
    right: 12px;
    display: none;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}
.close-btn img{
    max-width: 100%;
}
.preview-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.label-file + .btn{
    margin-top: 10px;
}
.label-file {
    height: 40px;
    padding: 0 12px;
    border: none;
    max-width: 225px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: opacity 1s ease;
    cursor: pointer;
    background-color: #CF0C2D;
    margin: 0 auto;
    display: block;
}
.label-file input{
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top:0;
}
.label-file.disabled, .btn.disabled{
    color: #647883;
    background: #465C67;
}



.btn{
    height: 40px;
    padding: 0 12px;
    border: none;
    max-width: 225px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: opacity 1s ease;
    cursor: pointer;
    background-color: #CF0C2D;
    margin: 0 auto;
    display: block;
}
.btn.small-mode{
    max-width: 147px;
}

.btn:hover{
    opacity: 0.8;
}

.btn:focus{
    opacity: 0.8;
}
.btn:active{
    opacity: 0.8;
}
.bottom-section {
    position: relative;
    z-index: 3;
}
.bottom-section .container{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
}
.bottom-text{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 300;
    line-height: 13px;
    margin: 0  auto 0;
    max-width: 252px;
}

.footer{
    text-align: center;
    padding: 20px 20px 27px;
    background-color: #CDD6DD;
    flex: 0 0 auto;
}

.footer img{
    display: flex;
    max-width: 883px;
    width: 100%;
    margin: 0 auto;
}



@media (min-width: 360px) {
    .section-grey {
        margin-top: -92px;
    }
    .section-image {
        margin-top: -92px;
    }
}

@media (min-width: 430px) {
    .section-grey {
        padding-top: 40px;
    }
}
@media (min-width: 480px) {
    .section-image {
        margin-top: -92px;
    }
}
@media (min-width: 600px) {
    .section-image, .section-grey {
        margin-top: -122px;
    }
    .section-grey--line{
        top: 3px;
        left: auto;
        right: 0;
    }
    .section-grey.small-mode{
        padding-top: 120px;
    }
}
@media (min-width: 768px) {
    .section-image {
        margin-top: -156px;
    }
    .section-grey {
        margin-top: -164px;
    }
    .section-grey--line{
        top: -19px;
    }
    .section-red{
        margin-top: -56px;
    }

}
@media (min-width: 960px) {
    .section-red{
        margin-top: -98px;
        transform: skewY(-17deg);
    }

    .section-image {
        margin-top: -142px;
    }
    .section-grey {
        margin-top: -176px;
        padding-top: 0;
    }
    .section-grey--line{
        top: -88px;
        transform: skewY(-17deg);
        right: -159px;
    }

    .section-grey:before {
        transform: skewY(-17deg);
    }
    .section-grey:after {
        top: 68%;
        transform: skewY(-17deg);
    }
    .section-grey-big .section-grey--line{
        right: -100px;
        top: -60px;
    }
    .section-grey-big:before{
        transform: skewY(-17deg);
    }
    .section-grey-big:after{
        background-color:#CDD6DD;
        content: "";
        position: absolute;
        top: 62%;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        transform: skewY(-17deg);
    }
    .board.left-mode .btn{
        margin: 0;
    }
    .section-text{
       display: none;
    }
    .section-text-desk{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap:8px;
        max-width: 460px;
        justify-content: flex-start;
        margin: 0 auto 18px;
    }
    .bottom-section .container{
        display: flex;
        flex-direction: row;
        gap:10px;
        text-align: left;
        justify-content: center;
    }
    .bottom-section .container{
        padding: 0 42px;
        align-items: baseline;
    }
    .logo-footer{
        width: 28px;
    }
    .logo-footer img {
        width: 100%;
    }
    .bottom-text{
        max-width: 100%;
        width: 100%;
        margin: 0;
        text-align: right;
    }

    .footer{
        padding: 12px 39px 27px;
    }
}
@media (min-width: 1200px) {
    .section-grey--line{
        top: -130px;
    }

}
@media (min-width: 1366px) {
    .section-grey--line{
        top: -130px;
    }
    .bottom-section.small-mode{
        padding-top: 60px;
    }

}
@media (min-width: 1440px) {
    .section-grey--line{
        top: -130px;
    }
    .bottom-section {
        padding-top: 40px;
    }

}
@media (min-width: 1600px) {
    .section-grey--line{
        top: -185px;
    }
    .bottom-section {
        padding-top: 40px;
    }
    .bottom-section.small-mode{
        padding-top: 140px;
    }

}
@media (min-width: 1920px) {
    .section-image {
        margin-top: -192px;
    }
    .section-grey {
        margin-top: -318px;
    }
    .section-red{
        margin-top: -185px;
    }
    .section-grey--line{
        top: -230px;
    }
    .bottom-section {
        padding-top: 140px;
    }

}